<%- include('./headerNav') %>


	<ul class="side-menu top">
		<li>
			<a href="<%= (url_pathname) %>admin/dashboard">
				<i class='bx bxs-dashboard'></i>
				<span class="text">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/category">
				<i class='bx  bx-category'></i>
				<span class="text">Category</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/brand">
				<i class='bx  bx-category'></i>
				<span class="text">Brand</span>
			</a>
		</li>
		<li class="active">
			<a href="<%= (url_pathname) %>admin/flavour">
				<i class='bx  bx-category'></i>
				<span class="text">Flavour</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/products">
				<i class='bx bx-package'></i>
				<span class="text">Products</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/deletedproducts">
				<i class='bx bxs-trash'></i>
				<span class="text">Deleted Products</span>
			</a>
		</li>

		<li>
			<a href="<%= (url_pathname) %>admin/blogs">
				<i class='bx bxs-pencil'></i>
				<span class="text">Blogs</span>
			</a>
		</li>
		<li >
			<a href="<%= (url_pathname) %>admin/banner">
				<i class='bx bxs-megaphone'></i>
				<span class="text">Banner</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/order_details">
				<i class='bx bxs-shopping-bag-alt'></i>
				<span class="text">Order Details</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/customers">
				<i class='bx bxs-user-check'></i>
				<span class="text">Customers</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/customerservice">
				<i class='bx bx-user-voice'></i>
				<span class="text">Customer Service</span>
			</a>
		</li>
		<li>
			<a href="<%= (url_pathname) %>admin/customerreview">
				<i class='bx bx-comment-dots'></i>
				<span class="text">Customer Review</span>
			</a>
		</li>
	</ul>
	<ul class="side-menu logout">
		<li>
			<a href="/admin/login" class="logout" id="logoutButton">
				<i class='bx bxs-log-out-circle'></i>
				<span class="text">Logout</span>
			</a>
		</li>
	</ul>
	</section>

	<main>
		<div class="head-title">
			<div class="left">
				<h1>Flavour</h1>
				<ul class="breadcrumb"></ul>
			</div>
			<div class="mb-3 sm-main">
				<input type="date" id="startDate" class="form-control d-inline"
					style="width: auto; display: inline-block;" />
				<input type="date" id="endDate" class="form-control d-inline"
					style="width: auto; display: inline-block;" />
				<button id="filterButton" class="btn btn-primary">Filter Flavour</button>
			</div>
		</div>
		<div class="table-data">
			<div class="order">
				<div class="head">
					<h3>Flavour</h3>
					<form action="#">
						<div class="form-input search">
							<input type="search" id="searchInput" placeholder="Search...">
						</div>
					</form>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
						onclick="setCategory()">
						Add New Flavour
					</button>

					
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" >
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Add Flavour</h1>
									<button id="add-new-blog" type="button" class="btn-close"
										data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="container my-5">
										<div class="row justify-content-center">
											<div class="col-lg-9">
												<form id="blog-form">
													<input type="hidden" id="flavour-id" name="blog_id">
													<div class="row g-3">
														<div class="col-md-12">
															<label for="flavour_name" class="form-label">Flavour
																Name</label>
															<input style="border: 1px solid black;" type="text" class="form-control" id="blog-header"
																name="flavour_name" required>
														</div>
                                                     
														<div class="col-12">
															<button type="submit"
																class="btn btn-dark w-100 fw-bold flavour-add">Add
																Flavour</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<table id="categoryTable">
					<thead>
						<tr>
							<th>Sr No</th>
							<th>Flavour Name</th>
							<th>Inserted Date</th>
							<th>Update</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="pagination" style="margin-top: 20px;"></div>

			</div>
		</div>
	</main>
	</section>

	<%-include("../javascriptss/flavour.ejs")%>

	</body>

	</html>