<!DOCTYPE html>
<html lang="en" style="
-ms-overflow-style: none;
 scrollbar-width: none; 
 ">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- product.product_name %></title>
  <link rel="icon" type="image/png" href="/images/Rasyyaan.png">
  <meta name="description"
    content="<%- product.product_name %> - Discover the features and benefits of our <%- product.product_name %>. <%- product.health_benefits %>. Order now to enjoy !">
  <meta name="keywords"
    content="Featured Products, Best Sellers, Top Products, Exclusive Offers, Popular Items, Handpicked Selection, Quality Products, Special Promotions">
  <meta property="og:title" content="Featured Products" />
  <meta name="author" content="Pahadi Rasyan" />
  <meta property="og:site_name" content="Pahadi Rasyan">
  <link rel="canonical" href="<%= (url_pathname) %>/individual_products/<%- product.id %>">
  <meta property="og:type" content="website">
  <meta name="robots" content="index, follow">
  <meta property="og:url" content="<%= (url_pathname) %>/individual_products/<%- product.id %>">
  <meta property="og:image" content="<%= (url_pathname) %>/images/RasyyannLogo.png">
  <meta property="og:locale" content="en_IN, hi_IN">
  <style>
  .styled-select {
    width: 220px;
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.styled-select:hover {
    border-color: #0056b3;
}

.styled-select:focus {
    border-color: #0056b3;
    box-shadow: 0px 0px 5px rgba(0, 91, 187, 0.5);
}

.styled-select option {
    padding: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
}

    .pr_image {
      max-width: 100% !important;
      height: auto !important;
      height: 20rem !important;
      object-fit: contain;
      border: 1px solid #ddd !important;
      border-radius: 8px !important;
    }

    .pr_name {
      font-size: 2rem !important;
      margin-bottom: 10px !important;
      font-weight: 500 !important;
      letter-spacing: 0.3rem !important;
      overflow: hidden !important;
      display: -webkit-box !important;
      -webkit-line-clamp: 3 !important;
      line-clamp: 3 !important;
      -webkit-box-orient: vertical !important;
    }

    .responsive-page,
    #top {
      margin-top: 130px;
    }

    .swiper-prev,
    .swiper-next {
      width: 38px;
      height: 38px;
      line-height: 38px;
      background: #F1F1F1;
      color: #222222;
      padding: 0;
      text-align: center;
      border-radius: 10px;
      --bs-btn-border-color: transparent;
      --bs-btn-active-bg: #ec9b22;
      --bs-btn-active-border-color: transparent;
      --bs-btn-hover-bg: var(--bs-primary);
      --bs-btn-hover-border-color: transparent;
      --bs-btn-disabled-color: #ccc;
      --bs-btn-disabled-bg: #eaeaea;
      --bs-btn-disabled-border-color: #eaeaea
    }

    .swiper-prev:hover,
    .swiper-next:hover {
      background: var(--bs-primary);
    }

    @media (max-width:767px) {
      .ind_prod button {
        width: 100%;
        /* padding-bottom: 1rem !important; */
      }
      .product-item{
      box-shadow: none !important;
    }
      .pr_name {
        font-size: 1.5rem !important;
      }

      .ind-prods {
        margin-top: 35px !important;
      }

      .responsive-page,
      #top {
        margin-top: 0px !important;

      }
    }
  </style>
</head>

<body>
  <%-include('header')%>
    <!-- <%-include('modal_pop')%> -->

    <section class="responsive-page py-2">
      <div class="container-lg">
        <div class="product-item  ind-prods" style="box-shadow: none !important;padding: 0 !important;">
          <div class="row">
            <!-- Product Image -->
            <div class="col-md-6" style="display: flex;align-items: start;justify-content: center;margin-top: 15px;">
              <figure class="text-center">
                <img style="border: none !important;" src="<%= (url_pathname) %><%= product.product_image %>" alt="<%= product.product_name %>"
                  class="img-fluid tab-image pr_image" loading="lazy" />
                <img style="width: 20rem !important;height: 20rem !important;" src="<%= (url_pathname) %><%= product.product_image_two %>" alt="<%= product.product_name %>"
                  class="tab-image image_two" loading="lazy">
              </figure>
            </div>
            <div class="col-md-6 ind_prod" style="padding: 0px 1rem; padding-bottom: 1rem;">
              <h2 class=" pr_name" style="font-family: 500;margin-top: 1rem;text-align: justify !important;">
                <%= product.product_name %>
              </h2>
              <% if(product.type==="PIECES" ){%>
                <div class="pricing my-1 d-flex justify-content-start gap-3
           parent_ind flex-wrap">

                  <del class="text-muted" pr_mrp><span>Rs.</span>
                    <%= product.mrp_price %>
                  </del>
                  <h4 class="text-success text-dark fw-semibold pr_price">
                    <span class="text-dark fw-semibold"><span>&#8377;</span>
                      <%= product.product_price %>
                    </span>
                  </h4>
                  <span
                    class="px-1 py-1 bg-primary ms-2 rounded-1 text-dark  d-flex align-items-center justify-content-center "
                    style="margin-top: -5px;">Save <%= product.mrp_price - product.product_price %></span>
                </div>
                <div>
                  <% if (!product.in_stock_status) { %>
                    <button class="btn btn-primary rounded-1 btn-lg px-5 btn-cart"
                      style="background-color: red;margin-top: 20px;opacity: 0.6;display: block;">
                      Out Of Stock
                    </button>
                    <% } else { %>
                      <div class="d-flex align-items-center gap-1 my-2 ">
                        <!-- <label for="quantity" class="form-label me-2">Quantity:</label> -->
                        <input type="number" id="quantity" name="quantity" class="form-control w-auto cartquantity"
                          value="1" min="1" max="<%= product.in_stock %>" style="border: 1px solid black;margin-top: -0.5rem;display: none;" />
                      </div>
                      <button data-product-id="<%= product.id %>" data-product-url="<%= url_pathname %>" class="btn btn-primary btn-lg px-5 btn-cart mb-2"
                        data-typeattribute="<%= product.type %>">
                        Add to Cart
                      </button>
                      <% } %>
                </div>
                <%}%>
                  <% if (product.type==="UNITS" ) { %>
                    <% if (Array.isArray(product.batch_details) && product.batch_details.length> 0) { %>
                      <% const item=product.batch_details[0]; %>
                          <div class="pricing my-1 d-flex justify-content-start gap-3
                  parent_ind flex-wrap d-none">
                            <del>
                              <span>&#8377;</span>
                              <%= item.mrp %>
                            </del>
                            <span class="text-dark fw-semibold">
                              <span>&#8377;</span>
                              <%= item.discount_price %>
                            </span>
                            <span
                              class="badge  rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary product-price" style="padding-top: 0.6rem;">
                              <span>&#8377;</span>
                              <%= item.mrp - item.discount_price %> OFF
                            </span>
                          </div>
                          <div class="pricing my-1">
                            <label for="sizeSelector" class="form-label fw-bold">Select Size:</label>
                            <select id="sizeSelector" class="styled-select">
                                <% product.batch_details.forEach((item, index) => { %>
                                    <option value="<%= index %>" 
                                        data-mrp="<%= item.mrp %>" 
                                        data-discount="<%= item.discount_price %>">
                                        <%= item.label_name %> - ₹<%= item.discount_price %> (<%= item.mrp - item.discount_price %> OFF)
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        
                        <!-- Price Display -->
                        <div id="priceContainer">
                            <del id="mrpPrice"><span>₹</span><%= product.batch_details[0].mrp %></del>
                            <span id="discountPrice"><span>₹</span><%= product.batch_details[0].discount_price %></span>
                            <span id="savingAmount" class="text-success">Save ₹<%= product.batch_details[0].mrp - product.batch_details[0].discount_price %></span>
                        </div>
                        
                          <div >
                            <% if (!product.in_stock_status) { %>
                              <button class="btn btn-primary rounded-1 btn-lg px-5 btn-cart"
                                style="background-color: red;margin-top: 20px;opacity: 0.6;display: block;">
                                Out Of Stock
                              </button>
                              <% } else { %>
                                <div class="d-flex align-items-center gap-1 my-2 ">
                                  <input type="number" id="quantity" name="quantity"
                                    class="form-control w-auto cartquantity" value="1" min="1"
                                    max="<%= product.in_stock %>" style="border: 1px solid black;display: none;margin-top: -0.5rem;" />
                                </div>
                                <button data-product-id="<%= product.id %>" data-product-url="<%= url_pathname %>" 
                                  class="btn btn-primary btn-lg px-5 btn-cart mb-2"
                                  data-typeattribute="<%= product.type %>">
                                  Add to Cart
                                </button>
                                <% } %>
                          </div>
                <% } %>
             <% } %>
              <p class="text-muted pr_desc">
                <%= product.product_description %>
              </p>
              <% if (product.health_benefits) { %>
                <span style="color: black;">Health Benefits:</span>
                <ul>
                  <% product.health_benefits.split('|').forEach(benefit=> { %>
                    <li>
                      <%= benefit %>
                    </li>
                    <% }); %>
                </ul>
                <% } %>

                  
            </div>
          </div>
        </div>
        <section id="featured-products" class="products-carousel">
          <div class="container-lg overflow-hidden py-5">
            <div class="row">
              <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between my-4">

                  <h1 class="section-title" style="margin: auto 0;">See All products</h1>

                  <div class="d-flex align-items-center">
                    <a href="/product" class="btn btn-primary me-2">View All</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <div
                  class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5"
                  id='product-container'>
                  <% if (products_instock && products_instock.length> 0) { %>
                    <% let count=0; %>
                      <% products_instock.forEach(e=> { %>
                        <% if (count < 4) { %>
                          <div class="col">
                            <div class="product-item prod-details" id="<%= e.id %>">
                              <figure>
                                <a href="#" title="<%= e.product_name %>">
                                  <img src="<%= (url_pathname) %><%= e.product_image %> " width="100%"
                                    ind-image-product-id="<%= e.id %>" alt="Product Thumbnail" class="tab-image "
                                    loading="lazy">
                                </a>
                                <a href="#" title="<%= e.product_name %>">
                                  <img src="<%= (url_pathname) %><%= e.product_image_two %>"
                                    " alt="<%= e.product_name %>"
                                    class="tab-image image_two" loading="lazy">
                                </a>
                              </figure>

                              <div class="d-flex flex-column text-center products-details">
                                <h4 class="fw-normal product-name">
                                  <%= e.product_name %>
                                </h4>
                                <h4 class="fs-6 fw-normal product-desc product-des">
                                  <%= e.product_description %>
                                </h4>

                                <% if(e.type==="PIECES"){%>  
                                  <div class="d-flex justify-content-center align-items-center gap-2 prod-price">
                                    <div class="product-prices-div">
                                      <del><span>&#8377;</span>
                                        <%= e.mrp_price %>
                                    </del>
                                    <span class="text-dark fw-semibold"><span>&#8377;</span>
                                        <%= e.product_price %>
                                    </span>
                                    </div>
                                      <span
                                          class="badge  rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary product-price ">
                                          <span>&#8377;</span>
                                          <%= e.mrp_price - e.product_price %> OFF

                                      </span>
                                      
                                  </div>
                                  <div class="product-price-mobile">
                                    <span class="badge  rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary ">
                                      <span>&#8377;</span>
                                      <%= e.mrp_price - e.product_price %> OFF
                                    </span>
                                  </div>
                                  <div onclick="toggleProductDetails(this, '<%= e.id %>')">
                                    <p class="m-0 read-more">Read more...</p>
                                  </div>
                                  <%}%>
                                  <% if (e.type === "UNITS") { %>
                                    <% if (Array.isArray(e.batch_details) && e.batch_details.length > 0) { %>
                                      <% const item = e.batch_details[0]; %>
                                      <div class="d-flex justify-content-center align-items-center gap-2">
                                          <div>
                                            <div class="product-prices-div">
                                            <del>
                                              <span>&#8377;</span><%= item.mrp %>
                                            </del>
                                            <span class="text-dark fw-semibold">
                                              <span>&#8377;</span><%= item.discount_price %>
                                            </span>
                                          </div>
                                            <span class="badge  rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary product-price">
                                              <span>&#8377;</span><%= item.mrp - item.discount_price %> OFF
                                            </span>
                                          </div>
                                          
                                      </div>
                                      <div class="product-price-mobile">
                                        <span class="badge  rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary ">
                                          <span>&#8377;</span><%= item.mrp - item.discount_price %> OFF
                                        </span>
                                      </div>
                                      <div onclick="toggleProductDetails(this, '<%= e.id %>')">
                                        <p class="m-0 read-more">Read more...</p>
                                      </div>
                                      
                                    <% } %>
                                  <% } %>
                                  
                                  <div class="overlay" style="display: none;"></div> 

                                  <div class="product-container" style="display: none; text-align: center;">
                                      <div 
                                        class="product-card row" 
                                        >
                                        <p 
                                        class="close-note close-btn" 
                                        style="position: absolute; top: 5px; right: 5px; font-weight: lighter; cursor: pointer; border-radius: 50%; height: 2rem; width: 2rem; display: flex; justify-content: center; align-items: center;"
                                        onclick="closeProductDetails(this)"
                                      >
                                      &#10006;
                                      </p>
                                    
                                        <div class="product-image col-lg-6 md-12 sm-12" style="height: 250px;"> 
                                          
                                          <img 
                                              src="../<%= e.product_image_two %>"
                                              alt="<%= e.name %>" 
                                              style="width: 100%; height: 100%; border-radius: 8px; object-fit: cover;"
                                          />
                                      </div>
                                    
                                        <div class="product-content col-lg-6 md-12 sm-12" style="flex: 0 0 50%; max-width: 50%; padding: 8px; text-align: left;">
                                          <h2 class="product-name" style="font-size: 1.5rem; margin-bottom: 8px;">
                                            <%= e.product_name %>
                                          </h2>
                                          <p class="product-description" style="margin-bottom: 8px; color: #555;">
                                            <%= e.product_description %>
                                          </p>
                                          <!-- <p class="product-price" style="margin-bottom: 8px; font-weight: bold; color: #333;">
                                            Price: ₹<%= e.product_price %>
                                          </p> -->
                                          <% if (e.health_benefits) { %>
                                            <div class="fw-normal">
                                                <span style="color: black;">Health Benefits:</span>
                                                <ul>
                                                    <% e.health_benefits.split('|').forEach(benefit => { %>
                                                        <li><%= benefit %></li>
                                                    <% }); %>
                                                </ul>
                                            </div>
                                        <% } %>                                                     
                                        </div>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                          <% count++; %>
                            <% } %>
                              <% }); %>
                                <% } else { %>
                                  <p>No products available.</p>
                                  <% } %>

                </div>

              </div>
        </section>
        <script>
          document.getElementById("sizeSelector").addEventListener("change", function() {
    let selectedOption = this.options[this.selectedIndex];
    let mrp = selectedOption.getAttribute("data-mrp");
    let discount = selectedOption.getAttribute("data-discount");
    
    document.getElementById("mrpPrice").innerHTML = `<span>₹</span>${mrp}`;
    document.getElementById("discountPrice").innerHTML = `<span>₹</span>${discount}`;
    document.getElementById("savingAmount").innerHTML = `Save ₹${mrp - discount}`;
});

        </script>
      </div>
    </section>
    <%-include("./addToCart.ejs")%>

    </body>
</html>